// DEVICES
$breakpoints: (
  320: 320px,
  360: 360px,
  375: 375px,
  411: 411px,
  480: 480px,
  544: 544px,
  568: 568px,
  576: 576px,
  600: 600px,
  640: 640px,
  667: 667px,
  736: 736px,
  768: 768px,
  800: 800px,
  900: 900px,
  940: 940px,
  992: 992px,
  1000: 1000px,
  1024: 1024px,
  1030: 1030px,
  1180: 1180px,
  1200: 1200px,
  1280: 1280px,
  1360: 1360px,
  1366: 1366px,
  1440: 1440px,
  1600: 1600px,
  1920: 1920px
);

@mixin res($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin max_res($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: #{map-get($breakpoints, $breakpoint)-1}) {
      @content;
    }
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}

/*@mixin box_shadow {
  -moz-box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.6);
}*/

@mixin transition_all ($time) {
    transition: all $time ease;
    -moz-transition: all $time ease;
    -webkit-transition: all $time ease;
}

@mixin transition ($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -o-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

@mixin rotate ($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin centerAbsolute($pos) {
 position: absolute;
 @if $pos == "both" {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 } @else if $pos == "left" {
  left: 50%;
  transform: translateX(-50%);
 } @else if $pos == "top" {
  top: 50%;
  transform: translateY(-50%);
 }
}

@mixin transform ($x, $y) {
    -ms-transform: translate($x,  $y); /* IE 9 */
    -webkit-transform: translate($x,  $y); /* Safari */
    transform: translate($x,  $y);
}

@mixin bg_gradient_top_bottm ($a, $b) {
    background-color: $a;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($b), to($a));
    background: -webkit-linear-gradient(top, $a, $b);
    background: -moz-linear-gradient(top, $a, $b);
    background: -ms-linear-gradient(top, $a, $b);
}

@mixin border-radius($all: null, $tl: $all, $tr: $all, $btl: $all, $btr: $all) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr ;
  border-bottom-right-radius: $btr;
  border-bottom-left-radius: $btl;
}

@mixin flex($direction: row, $content: null , $items: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}